/*
colors
red: #e51837; rgb(229,24,55)
gray: #808080;
*/

/************Reset**************/
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}
html, body, div, object, iframe { 
	margin: 0; 
	padding: 0; 
} 
ol, ul { 
	list-style: none;
	margin: 0;
	padding: 0;
} 
table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}
header, footer, nav, section, article, hgroup, figure {
	display: block;	
}
/************End Reset**************/

/************Global**************/
body {
	background: #fff;
	color: #000;
	font: 100%/1.4 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
	padding: 1em 0 0;
}
a {
	color: #808080;
	text-decoration: none;
}
a:hover, a:focus {
	color: #e51837;
}
p {
	margin: 0 0 1em;
}
h1 {
	font-size: 3em;
	line-height: 0.8;
	letter-spacing: -0.02em;
}
h2 {
	font-size: 2em;
	margin-bottom: 0.2em;
}
h3 {
	font-weight: normal;
	padding-bottom: 0.4em;
	border-bottom: 1px solid #ccc;
}

small {
	color: #e51837;
}
/************End Global**************/

/************Structure**************/
.container {
	max-width: 70em;
	margin: 0 auto;
	padding: 0 1em;
}
div[role=main] {
	padding-bottom: 1em;
}

/*Footer*/
footer[role=contentinfo] {
	color: #fff;
	background: #000;
	margin: 0 -1em;
	position: relative;
	z-index: 2;
}
footer[role=contentinfo] > div {
	max-width: 70em;
	padding: 0 1em;
	margin: 0 auto;
	overflow: hidden;
}
footer[role=contentinfo] p {
	margin: 0;
}
footer[role=contentinfo] a {
	display: inline-block;
	padding: 0.5em 0;
}
footer[role=contentinfo] a.nav-home {
	color: #fff;
}
footer[role=contentinfo] .f-rga {
	float: right;
}
footer[role=contentinfo] img {
	max-width: 4.4em;
	display: inline-block;
	margin-bottom: -0.22em;
}
/*End Footer*/

/*Grid*/
.grid {
	margin: 0 -1em;
	overflow: hidden;
}
.grid > h2 {
	margin-left: 0.45em;
}
.grid > section {
	padding: 1em 1em 0;
}
.grid ul {
	overflow: hidden;
}
.grid ul li {
	margin-bottom: 0.3em;
}
.featured:after {
	content: "*";
	color: #e51837;
}

/*Fluid*/
.fluid {
	display: block;
	margin: 0 auto;
	max-width: 40em;
}
.home {
	position: relative;
	z-index: 1;
	color: #fff;
	display: table;
}
.home > div {
	display: table-cell;
	vertical-align: middle;
	height: 40em;
}
.home h1 {
	margin-bottom: 0.2em;
}
.intro {
	font-size: 1.8em;
	margin: 0 auto;
}
.intro a {
	color: #fff;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}
.intro a:hover ,.intro a:focus {
	color: #000;
	border-bottom-color: #000;
}
.ani {
	min-height: 20em;
	position: absolute;
	top: 2em;
	left: 0;
	width: 100%;
	height: 40em;
	z-index: 0;
}
.ani div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40em;
	display: table;
}
.ani div span {
	display: table-cell;
	vertical-align: middle;
	height: 40em;
}
.ani div b {
	display: block;
	margin: 0 auto;
	background: rgba(229,24,55,0.22);
	
}
.ani div.a1 b {
	-webkit-animation: box-resize 25s infinite;
}
.ani div.a2 b {
	-webkit-animation: box-resize2 25s infinite;
}
.ani div.a3 b {
	-webkit-animation: box-resize3 25s infinite;
}
.ani div.a4 b {
	-webkit-animation: box-resize4 25s infinite;
}
.ani div.a5 b {
	-webkit-animation: box-resize5 25s infinite;
}
.ani div.a6 b {
	-webkit-animation: box-resize6 25s infinite;
}
.ani div.a7 b {
	-webkit-animation: box-resize7 25s infinite;
}
.ani div.a8 b {
	-webkit-animation: box-resize8 25s infinite;
}
.ani div.a9 b {
	-webkit-animation: box-resize9 25s infinite;
}
.ani div.a10 b {
	-webkit-animation: box-resize19 25s infinite;
}

@media screen and (min-width:40em) {
	h1 {
		font-size: 5.6em;
	}
	.container {
		padding-bottom: 4em;
	}
	footer[role=contentinfo] {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		margin: 0;
	}
	footer[role=contentinfo] .nav {
		float: left;
	}
	footer[role=contentinfo] .nav li {
		display: inline-block;
		margin-right: 0.8em;
	}	
	.grid ul li {
		width: 50%;
		float: left;
	}
	.grid ul li:nth-child(odd) {
		padding-right: 1em;
		clear: left;
	}
}

@media screen and (min-width: 54em) {
	h1 {
		font-size: 7.6em;
	}
	.grid > section {
		float: left;
		width: 33.3333333%;
	}
	.grid > section:nth-child(3n+2) {
		clear: left;
	}
	.grid ul li {
		width: auto;
		float: none;
	}
	.grid ul li:nth-child(odd) {
		padding-right: 0;
	}
	.home {
		text-align: center;
	}
}	

@-webkit-keyframes box-resize {
	0% { width: 40em; height: 40em; }
	25% { width: 55em; height: 35em; }
	50% { width: 60em; height: 25em; }
	75% { width: 55em; height: 35em; }
	100% { width: 40em; height: 40em; }
}
@-webkit-keyframes box-resize2 {
	0% { width: 74em; height: 40em; }
	25% { width: 60em; height: 30em; }
	50% { width: 40em; height: 25em; }
	25% { width: 60em; height: 30em; }
	100% { width: 74em; height: 40em; }
}
@-webkit-keyframes box-resize3 {
	0% { width: 15em; height: 30em; }
	25% { width: 40em; height: 25em; }
	50% { width: 63em; height: 42em; }
	25% { width: 30em; height: 15em; }
	100% { width: 15em; height: 30em; }
}
@-webkit-keyframes box-resize4 {
	0% { width: 55em; height: 40em; }
	25% { width: 78em; height: 37em; }
	50% { width: 42em; height: 40em; }
	25% { width: 78em; height: 37em; }
	100% { width: 55em; height: 40em; }
}
@-webkit-keyframes box-resize5 {
	0% { width: 26em; height: 24em; }
	25% { width: 35em; height: 32em; }
	50% { width: 51em; height: 45em; }
	25% { width: 40em; height: 40em; }
	100% { width: 26em; height: 24em; }
}
@-webkit-keyframes box-resize6 {
	0% { width: 10em; height: 15em; }
	25% { width: 13em; height: 20em; }
	50% { width: 30em; height: 35em; }
	75% { width: 13em; height: 20em; }
	100% { width: 10em; height: 15em; }
}
@-webkit-keyframes box-resize7 {
	0% { width: 20em; height: 28.4em; }
	25% { width: 20em; height: 25em; }
	50% { width: 13em; height: 20em; }
	75% { width: 20em; height: 25em; }
	100% { width: 20em; height: 28.4em; }
}
@-webkit-keyframes box-resize8 {
	0% { width: 18em; height: 39em; }
	25% { width: 54em; height: 30em; }
	50% { width: 70em; height: 42em; }
	75% { width: 4em; height: 30em;  }
	100% { width: 18em; height: 39em; }
}
@-webkit-keyframes box-resize9 {
	0% { width: 70em; height: 38em; }
	25% { width: 60em; height: 34em; }
	50% { width: 50em; height: 24em; }
	75% { width: 78em; height: 48em; }
	100% { width: 70em; height: 38em; }
}
@-webkit-keyframes box-resize10 {
	0% { width: 13em; height: 19em; }
	25% { width: 23em; height: 29em; }
	50% { width: 40em; height: 34.5em; }
	75% { width: 23em; height: 29em; }
	100% { width: 13em; height: 19em; }
}